{% extends 'base-admin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Condo Profile</h1>

    </div>
    <!-- /.container-fluid -->

{% endblock %}